<IfModule mod_php5.c>
php_value post_max_size 500M
php_value upload_max_filesize 500M
php_value max_execution_time 0
php_value max_input_time 0
php_value session.gc_maxlifetime 0
</IfModule>

RewriteEngine on
RewriteCond %{request_filename} -f
RewriteRule ^(.*) $1 [L]
RewriteRule ^(([^/]*)+)(/([^/]{0,32})(/.+)?)?$  index.php?a=$1&q=$3    [L]